@import url(http://fonts.googleapis.com/css?family=Wire+One);

.bar--positive {
  fill: steelblue;
}
.bar--negative {
  fill: darkorange;
}
.axis text {
  font: 13px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

body {
  font-family: "Copperplate";
  margin: auto;
  position: relative;
  padding: 20px;
  height: 50%;
}
 
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
 
.node {
    border: solid 1px white;
    line-height: 0.95;
    overflow: hidden;
    position: absolute;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
}

.node div {
   padding: 6px 4%;
}

path {
  stroke-linejoin: round;
  stroke: #C0C0C0;
}

.states {
  stroke: #fff;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

